[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
matplotlib = "*"
microwhist = {file = ".", editable = true}
pyarrow = "*"
pandas = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
